/*******************************************************************************/
/*************************          RESET         ******************************/
/*******************************************************************************/
* {
	margin: 0;
	padding: 0;
}

/*******************************************************************************/
/*************************          HEADER        ******************************/
/*******************************************************************************/
#positionLogo {
	float: left;
	margin-top: 10px;
	margin-right: 50px;
	margin-left: 50px;

	
	
	
	
}

#header {
	background-color: #F5F5F5;
	margin: 0;
}

#TitreHeader {
	padding-left: 200px;
	font: normal 300% Arial, Times, sans-serif;
	color: #BB0000;
}

#SousTitreHeader {
	padding-top: 0;
	font: normal 40% Arial, Times, sans-serif;
	font-style: italic;
	color: #BB0000;
}

/*******************************************************************************/
/*************************          BASIC          *****************************/
/*******************************************************************************/
body {
	font: 75% Arial, Times, sans-serif;
}

h1 {
	font: normal 338% Arial, Times, sans-serif;
	color: #BB0000;
}

h1 a,h1 a:hover {
	color: #BB0000;
	text-decoration: none;
}

h2 {
	font-weight: normal;
	color: #F3F3F3;
}

p {
	padding: .8em 0;
	line-height: 1.8em;
	text-align: justify;
}

p#subtitle {
	padding: 0 0 0 30px;
	font-size: 88%;
	text-transform: uppercase;
	color: white;
}

a {
	color: #D9463D;
	text-decoration: none;
}

a:hover {
	color: #EF5548;
}

/*******************************************************************************/
/*************************          PAGE          ******************************/
/*******************************************************************************/
#page {
	background-color: #F5F5F5;
	margin: auto;
}

/************************* TOPBAR ******************************/
#topbar {
	margin-top: 10px;
	margin-left: 30px;
}

#topbar ul {
	list-style: none;
}

#topbar ul li {
	display: inline;
	font-size: 88%;
	line-height: 72px;
}

#topbar ul li a {
	padding: 0 7px;
	text-shadow: 1px -1px 1px #7B2323;
	color: #EEC2C2;
}

#topbar ul li a:hover {
	color: #FFFFFF;
}

/************* MAIN (à partir du menu jusqu'au footer *********************/
#main {
	margin: auto;
	padding-bottom: 10px;
}

/************************* SIDEBAR - LoginPage ******************************/
#sidebar {
	float: left;
	width: 300px;
	font-size: 75%;
	margin-left: 10px;
}

#sidebar .boxLogin {
	background: #808080;
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow: 2px 2px 2px gray;
}

#sidebar td {
	font-size: 150%;
	font-weight: bold;
	color: #002050;
	height: 20px;
	width: 150px;
	padding-left: 5px;
	padding-right: 5px;
}

.largeInput {
	width: 150px;
}

#sidebar h2 {
	text-align: center;
	font: 250% Arial, Times, sans-serif;
	font-weight: bold;
	background-color: #CECECE;
	box-shadow: 2px 2px 2px gray;
	color: #002050;
	padding-bottom: 5%;
	padding-top: 5%;
}

#login h2 {
	text-align: center;
	font: 250% Arial, Times, sans-serif;
	font-weight: bold;
	background-color: #CECECE;
	box-shadow: 2px 2px 2px gray;
	color: #002050;
	padding-bottom: 10px;
	padding-top: 10px;
}
/******************************  LOGIN  *************************************/
#loginSpace {
	margin-bottom: 10px;
}

/******************************* CONTENT ***********************************/
#content {
	float: right;
	width: 990px;
	margin-left: 10px;;
	margin-right: 25px;
}

#content #contheader h2 {
	text-align: center;
	font: 200% Arial, Times, sans-serif;
	font-weight: bold;
	background-color: #CECECE;
	box-shadow: 2px 2px 2px gray;
	color: #002050;
	padding-bottom: 5%;
	padding-top: 5%;
}

#content2 {
	padding: 5% 10% 5% 10%;
	background: #808080;
	color: #F3F3F3;
}

#content2 h2 {
	font-size: 180%;
	padding-bottom: 10%;
}

#content h2 a {
	color: #B9B3AD;
}

.Text {
	color: #F3F3F3;
	font-size: 120%;
}

/*******************************************************************************/
/*************************          FOOTER        ******************************/
/*******************************************************************************/
.mainStyle {
	background: url("#{resource['images:BarreCopyright.jpg']}") no-repeat
		bottom;
		

}

#footer p {
	font-size: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #F5F5F5;
	
}

/*******************************************************************************/
/****************          redéfinition ui primefaces        *******************/
/*******************************************************************************/

/*inputText*/
.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
	{
	width: 80% !important;
}

.ui-datatable tbody td.wrap {
	white-space: normal;
}
/*texte du bouton*/
.ui-button-text	ui-c {
	
}
.myLayoutStyleClass .ui-layout-unit-header-title {
	font-size: large !important;
	color: #F6F6F6 !important;
	font-weight: lighter !important;
}

.myLayoutStyleClass .ui-layout-unit-header {
	background: #BB0000 !important;
}

.ui-widget.ui-icon-myLoguot{
    background-image: url("#{resource['images/logoutSmall.png']}") !important;
    
}

.myDialog .ui-dialog-titlebar {
	color: #3F3E3E !important;
	background-color: #D16363 !important;
	font-size: 140% !important;
	
}

